mixin element(element, text)
    - element = typeof element != "undefined" ? element : 'div'
    - element = element != "" ? element : 'div'
    #{element}&attributes(attributes)= text

mixin menuNav(selected, menus, wrap, wrapId,  wrapClass, item, itemClass , linkClass , wrapChild, wrapChildId, wrapChildClass, itemChild , itemChildClass, linkChildClass)
    - selected = typeof selected != "undefined" ? selected : ''

    - wrap = typeof wrap != "undefined" ? wrap : 'ul'
    - wrap = wrap != "" ? wrap : 'ul'
    - wrapId = typeof wrapId != "undefined" ? wrapId : ''
    - wrapClass = typeof wrapClass != "undefined" ? wrapClass : ''

    - item = typeof item != "undefined" ? item : 'li'
    - item = item != "" ? item : 'li'
    - itemClass = typeof wrap != "undefined" ? itemClass : ''
    - linkClass = typeof linkClass != "undefined" ? linkClass : ''

    - wrapChild = typeof wrapChild != "undefined" ? wrapChild : 'ul'
    - wrapChild = wrapChild != '' ? wrapChild : 'ul'
    - wrapChildId = typeof wrapChildId != "undefined" ? wrapChildId : ''
    - wrapChildClass = typeof wrapChildClass != "undefined" ? wrapChildClass : ''

    - itemChild = typeof itemChild != "undefined" ? itemChild : 'li'
    - itemChild = itemChild != "" ? itemChild : 'li'
    - itemChildClass = typeof itemChildClass != "undefined" ? itemChildClass : ''
    - linkChildClass = typeof linkChildClass != "undefined" ? linkChildClass : ''

    #{wrap}(class=wrapClass)
        each menu in menus      
            - var current = false   
            - var childClass = '';

            if selected === menu.key 
                - current = true
            if typeof menu.child == typeof []
                if menu.child.length > 0
                    - childClass = ' hasChild'
                    each menuChild in menu.child       
                        if selected === menuChild.key
                            - current = true

            if current
                #{item}(class= itemClass + " active" + childClass)
                    if(menu.url !== '')
                        a(href=menu.url, title=menu.title, class=linkClass)
                            span  !{menu.title}
                    else 
                        span(class=linkClass)
                            span  !{menu.title}
                    
                    if typeof menu.child == typeof []
                        if menu.child.length > 0
                            span.expand
                                i.icon_plus
                            +menuNav(selected, menu.child, wrapChild, wrapChildId, wrapChildClass, itemChild, itemChildClass, linkChildClass)
            else
                #{item}(class= itemClass + childClass)
                    if(menu.url !== '')
                        a(href=menu.url, title=menu.title, class=linkClass)
                            span  !{menu.title}
                    else 
                        span(class=linkClass)
                            span  !{menu.title}
                    if typeof menu.child == typeof []
                        if menu.child.length > 0
                            span.expand
                                i.icon_plus
                            +menuNav(selected, menu.child, wrapChild, wrapChildId, wrapChildClass, itemChild, itemChildClass, linkChildClass)

mixin slideNav(selected, menus)
    ul.listmenu.clearfix
        each menu in menus      
            - var current = false

            if selected === menu.key 
                - current = true
            if typeof menu.child == typeof []
                if menu.child.length > 0
                    each menuChild in menu.child       
                        if selected === menuChild.key
                            - current = true
            if current
                li.item-menu.active.expand
                    a(href=menu.url, title=menu.title)= menu.title
                    if typeof menu.child == typeof []
                        if menu.child.length > 0
                                +slideNavChild(selected, menu.child)
            else
                li.item-menu.expand
                    a(href=menu.url, title=menu.title)= menu.title
                    if typeof menu.child == typeof []
                        if menu.child.length > 0
                                +slideNavChild(selected, menu.child)
mixin slideNavChild(selected, menus)
    ul.nav.bd-sidenav.sub
        each menu in menus       
            if selected === menu.key
                li.active.bd-sidenav-active
                    a(href=menu.url, title=menu.title)= menu.title
                    if typeof menu.child == typeof []
                        if menu.child.length > 0
                            +slideNavChild(selected, menu.child)
            else
                li
                    a(href=menu.url, title=menu.title)= menu.title
                    if typeof menu.child == typeof []
                        if menu.child.length > 0
                            +slideNavChild(selected, menu.child) 
//- background image
mixin bgImg(image,className, altVal)
    div(class=className style="background-image:url('" + image + "')")
        img(src=image alt=altVal)
//- background image for Link
mixin bgImgLink(image,className,url)
    div(class=className)
        a(style="background-image:url('" + image + "')" href=url)
            img(src=image alt="")
mixin qc(image,className,url)
    .qc__img
        +bgImgLink(image,className,url)
mixin itemHouse(imagePath, imageClass, urlDetail, houseName, address, size, bed, bath, sizes, price, author)
    .list__item
        .row
            .col-lg-3.col-md-3
                +bgImgLink(imagePath, imageClass, urlDetail)
            .col-lg-6.col-md-6
                .list__item__info
                    a(href=urlDetail)=houseName
                    p.address
                        i.icon_pin
                        span=address
                    p=size
                    ul.clearfix
                        li
                            span(style="background-image: url('/images/bed.png')")
                            span=bed
                        li
                            span(style="background-image: url('/images/bath.png')")
                            span=bath
                        li
                            span(style="background-image: url('/images/size.png')")
                            span=sizes
            .col-lg-3.col-md-3
                .list__item__price
                    p.sale  
                        span    for sale
                    p.price=price
                    p.author    
                        span    by
                        span=author
                
//- tabs
mixin tabs(list, selected)
    ul.nav.nav-pills
        each item in list       
            if selected === item.key
                li.active
                    a(href=item.url, title=item.title)= item.title
            else
                li
                    a(href=item.url, title=item.title)= item.title

-
    var slideMenu = [
        {'key': 'Buy', 'title':'Buy', 'url':'/pages/buy.html'},
        {'key': 'rent', 'title':'rent', 'url':'/pages/rent.html'},
        {'key': 'Loan', 'title':'Loan ', 'url':'/pages/loan.html'},
        {'key': 'diy-guides',   'title':'Diy Guides ', 'url':'','child':[
            {'key': 'seller',   'title':'Seller',   'url':'/pages/diy-guides-seller.html'},
            {'key': 'landlor',  'title':'Landlor',  'url':'/pages/diy-guides-landlor.html'},
            {'key': 'cost',     'title':'Cost',     'url':'/pages/diy-guides-cost.html'}
        ]}
    ]

    var list = [
            {'key': 'Chương trình EB-5', 'title':'Chương trình EB-5 ', 'url':'/pages/programs-eb.html'},
            {'key': 'Dự án EB-5', 'title':'Dự án EB-5 ', 'url':'/pages/projects-eb.html'},
            {'key': 'Tin dự án EB-5', 'title':'Tin dự án EB-5 ', 'url':'/pages/news-eb.html'},
            {'key': 'So sánh dự án EB-5', 'title':'So sánh dự án EB-5 ', 'url':'/pages/sosanheb5.html'}
    ]


mixin itemNew(image,className,url)
    .gridNews__item
        div(class=className)
            a(style="background-image:url('" + image + "')" href=url)
                img(src=image alt="")
        .gridNews__title
            a(href=url) Ut enim ad minim
        .gridNews__info
            p Convenient city Fringe Location
            .rate 
                i.icon_star
                span 6 mins walk to Queentown MRT